config/database.yml
config/*.sphinx.conf
*~
*.cache
*.log
*.pid
tmp/*
tmp/**/*
.DS_Store
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
app/views/taglibs/auto/**/*.dryml
app/views/taglibs/auto/*/*/*.dryml
capybara-*.html
public/stylesheets/comics.css
public/stylesheets/**/*.css
public/system
.bundle
rerun.txt
