=replace_text( !img, !x = 50%, !y = 50% )
  text-indent: -9999em
  color: transparent
  overflow:    hidden
  background:
    image: url(!img)
    repeat: no-repeat
    position: !x !y

// borrowed from Compass
=inline-block
  display: -moz-inline-box
  -moz-box-orient: vertical
  display: inline-block
  vertical-align: middle
  zoom: 1
  *display: inline

// https://gist.github.com/214274
=opacity(!value)
  :opacity= !value
  :-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{!value*100})"
  :filter alpha(opacity=#{!value * 100})

!site_text = #888
