#library
  width: 800px
  height: 585px
  margin: auto
  position: relative
  background: transparent url("/images/library.jpg")
  ol
    list-style-type: none
  a
    position: absolute
    text-indent: -9999em
    overflow: none
    outline: 0
    width: 0
    height: 0

    // books on this site

    &#not-nowhere_link
      top: 55px
      left: 108px
      height: 191px
      width: 45px

    &#circus-season_link
      top: 104px
      left: 576px
      height: 149px
      width: 71px

    // books found elsewhere (see app/models/book_link.rb)

    &#shark-book_link
      top: 172px
      left: 113px
      height: 73px
      width: 83px

    &#san-jose-ill-keep-you_link
      top: 308px
      left: 620px
      height: 200px
      width: 60px

    // static links

    &#home_link
      top: 269px
      left: 46px
      height: 239px
      width: 28px

    &#contact_link
      top: 260px
      left: 76px
      height: 248px
      width: 31px

    &#store_link
      top: 270px
      left: 107px
      height: 233px
      width: 33px

    // Links:(283, 140), (508, 170)

    &#donate_link
      top: 338px
      left: 564px
      height: 50px
      width: 35px
