%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :name => "_xclick"}
  %input{:name => "cmd", :type => "hidden", :value => "_xclick"}<
  %input{:name => "business", :type => "hidden", :value => "kate@confoundedcontraption.com"}>
  %input{:name => "item_name", :type => "hidden", :value => "Great job, Kate! Have some dollars!"}>
  %input{:name => "currency_code", :type => "hidden", :value => "USD"}>
  %input{:name => "amount", :type => "hidden", :value => "0.00"}>
  %input{:alt => "Tip your artist", :border => "0", :name => "submit", :src => "http://www.paypal.com/en_US/i/btn/btn_donate_LG.gif", :type => "image"}>
