=replace_text( !img, !x = 50%, !y = 50% )
  text-indent: -9999em
  color: transparent
  overflow:    hidden
  background:
    image: url(!img)
    repeat: no-repeat
    position: !x !y

=nav_link(!name, !w, !h)
  +replace_text("/images/books/not_nowhere/#{!name}.gif")
  display: inline-block
  width: !w
  height: !h

#banner
  margin: 2em

#page_nav
  a
    opacity: 0.1
  a:link, a:visited
    opacity: 1
    &:hover
      opacity: 0.7
  a.first
    +nav_link('first', 127px, 88px)
  a.previous
    +nav_link('previous', 134px, 88px)
  a.next
    +nav_link('next', 134px, 88px)
  a.last
    +nav_link('last', 127px, 88px)

#archive
  position: relative
  display: inline-block
  border: 2px solid transparent
  h2
    text-align: center
    padding: 0 3em
  ol
    display: none
    position: absolute
    top: 2em
    padding: 0
    width: 100%
    background-color: white
    padding-bottom: 1.25em
    li
      list-style-type: none
      padding: 0 1em
  &:hover
    border: 2px solid black
    z-index: 6000
    ol
      display: block
      z-index: 6000
      left: -2px
      border: 2px solid black
      border-top-width: 0

#news
  background-color: black
  color: white
  td
    padding: 2em
